.ShoutOutForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 90%;
    border: 1px solid #aaa;
    padding: 15px;
    margin: 1% auto;
    background-color: white;
}

.submit {
    width: 25%;
    margin-top: 2%;
    border-color: #999;
}

.toFrom, .message{
    display: flex;
    align-content: space-between;
    text-align: left;
    width: 100%;
    margin: auto
}

.toFrom {
    color: #333;
}

.inputBox {
    width: 100%;
    margin: 1% 0% 1% 2%;
}

.message {
    flex-direction: column;
}

textarea {
    width: 99%;
    padding: 1px 2px;
}
